*{
    padding: 0;
    margin: 0;
    font-family: cursive;
} 

body{
   background: linear-gradient(to bottom , orange,white,green);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box{
    background-color: aqua;
    width: fit-content;
    padding: 50px;
    box-shadow: 10px 10px 10px;

}
input{
    padding: 10px;
    border: 5px solid black;
    border-radius: 6px;
    background: linear-gradient(to right , red, yellow);
}
h1{
  
    color:white;
}
input[type="button"]{
    background: linear-gradient(to bottom ,orange, white,green);
    color:rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    
    border: 5px double magenta;
}
label{
    color: blue;
}
